name: CI Docker Bake

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: mi-app

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Validate build configuration
        uses: docker/bake-action@v6
        with:
          targets: validate-build

      - name: Build image
        uses: docker/bake-action@v6
        with:
          targets: build
          push: false